body, html {
  height: 100%;
}

body {
  color: #323232;
}

.uppercase {
  text-transform: uppercase;
}

.dark {
  background-color: #323232;
  color: #fff;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

.container {
  min-height: 100vh;
}

.container .row {
  margin-left: 0;
  margin-right: 0;
}

.buttons {
  margin-top: 3rem;
}

.buttons > a {
  margin-top: 0.4rem;
}